{% load static %}
<div class="hero-section px-4 py-5 my-5 d-flex justify-content-center align-items-center text-white min-vh-100 " style="background-color: #000;">
    <div class="">
        <h1 class="display-3 text-center text-dark">
            <small><span class="de d-block">DE</span></small>
            <span class="kruising d-block">KRUISING</span>
        </h1>
        <div class="col-lg-6 mx-auto">
            <p class="mb-4">some bullshit text where I don't know what to write. While I'm writing this, I'm very tired, and want to sleep. But I have some of what the urge to finish this website!</p>
        </div>
    </div>
</div>