<nav class="navbar navbar-expand-lg rounded bg-opacity-50 fixed-top shadow-sm bg-light" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
      <a class="navbar-brand col-lg-3 me-0 position-absolute" href="#">DE KRUISING</a>
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarsExample11">
          <ul class="navbar-nav col-lg-6 justify-content-lg-center">
              <li class="nav-item">
                  <a class="nav-link" href="#nieuws">Nieuws</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#producten">Producten</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</nav>