.hr {
    height: 4px;
    width: 60px;
    background-color: #36454F;
    margin: 20px auto 20px auto;
}

nav {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.hero-section{
    background: url('../images/hero.jpg') no-repeat center center / cover;
}

.de{
    font-family: "Knewave", cursive;
    margin-bottom:-15px;
    padding-right: 2em;
}
.kruising,
.navbar-brand{
    font-family: "Knewave", cursive;
}

.carousel-inner .carousel-item img {
    aspect-ratio: 16 / 9; /* Adjust to your desired ratio */
    object-fit: cover; /* Ensures images fill the available space */
    height: auto; /* Adjusts height automatically */
}

.floating-label{
    position: relative;
    margin-bottom: 1.5rem;
}

.floating-label label{
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    font-size: 1rem;
    color: #6c757d;
    transition: 0.2s ease all;
    pointer-events: none;
}

@media (max-width: 768px) {
    .carousel-caption{
        padding: 0;
        right: 0;
        left: 0;
        margin-bottom: 2px;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption p {
        font-size: 0.75rem;
    }
    .carousel-indicators{
        background-color: rgba(35, 35, 35, 0.5);
        margin: 0;
        right: 14px;
        left: 14px;     
        border-radius: 0 0 25px 25px;  
    }
}